#container {
	position: relative;
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:960px;
	width:960px;
	padding: 0;
	border: none;
}
.grid {
	display: grid;
	max-width: 500px;
	min-height: 500px;
	margin: 2rem auto;
  }

div.grid {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.grid-element {
	background-color: var(--background);
}

@media (max-width: 450px) {
	header {
		font-size: 2.4rem;
	}

	.grid {
		max-width: 300px;
		min-height: 300px;
	}
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 1200;
	font-size: 400%;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 1200;
	font-size: 150%;
}

.resolutions {
	margin: auto;
}

.newGrid {
	position: relative;
	background-color: #ff5533;
	border: none;
	font-size: 28px;
	color: #FFFFFF;
	padding: 20px;
	width: 5%;
	text-align: center;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5%;
  }
  
  .newGrid:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
  }
  
  .newGrid:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
  }